{% extends 'base.html' %}

{% load custom_tags %} 
    {% block title %}
        {{request.path|remove_slash}} 
    {% endblock %} 
{% block content %}
<div class="d-flex justify-content-center flex-direction-row ">
    <div class="border border-info p-4 shadow-lg p-3 mb-5 bg-light rounded">
        <h4 class="text-center text-info" >Add Company</h4>
        <form method="post">
            {% csrf_token %} 
            {{ form.as_p }}
            <div class="d-flex justify-content-end justify-content-between mt-4">
                <a class="text-decoration-none " href="{% url 'myapp:home' %}">
                    <button type="button" class="btn btn-danger ">Close</button>
                </a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
