{% extends 'base.html' %} {% load custom_tags %} {% block title %}
{{request.path|remove_slash}} {% endblock %} {% block content %}
<a href="{% url 'myapp:add-employee' request.path|remove_slash %}">
  <button class="btn btn-primary btn-outline-info text-light mb-3">
    Add Employee
  </button>
</a>
{% if employee %}
<div class="center row">
 {% for item in employee %}
<div class="card border border-2 border-info mb-4 m-2 profile-card ">
  <div class="card-block m-3 ">
    <h4 class="card-title text-info">
      <img
        src="https://img.icons8.com/fluent/48/000000/identification-documents.png"
      /> {{item.first_name}} {{item.last_name}}
    </h4>
    <p class="card-text info">Id: {{item.id}}</p>
    <p class="card-text info">Address: {{item.address}}</p>
    <p class="card-text info">Experience: {{item.experience}}</p>

    <div class="text-end actions">
      {% if item.company.user == request.user %}
      <a
        class="card-link text-decoration-none"
        href="{% url 'myapp:update-employee' item.company item.id %}"
      >
        <button class="btn btn-primary pt-1 pb-1">Edit</button>
      </a>
      <a
        class="card-link text-decoration-none"
        href="{% url 'myapp:delete-employee' item.id %}"
      >
        <button class="btn btn-danger pt-1 pb-1">Remove</button>
      </a>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %} 
</div>
{% else %}
<h3 class="text-dark text-center mt-5">No Employee Available</h3>
{% endif %} {% endblock %}
