<nav class="navbar navbar-expand-lg navbar-light text-dark fw-light mb-4 p-1 border border-dark shadow">
  <div class="container">
    <a class="navbar-brand text-info p-1 " href="{% url 'myapp:home' %}">Salary Box</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'myapp:home' %}">Home</a>
        </li> 
      </ul>
      <a class="nav-link active text-dark" aria-current="page" href="admin/">Admin panel</a>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
