<nav class="navbar navbar-expand-lg navbar-light text-dark fw-light mb-4 p-1 border border-dark shadow">
  <div class="container">
    <a class="navbar-brand text-info p-1 " href="{% url 'myapp:home' %}">Salary Box</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'myapp:home' %}">Home</a>
        </li> 
      </ul>     
      {% if  user.is_authenticated %}
      <div class="btn-group">
        <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenuClickableOutside" data-bs-toggle="dropdown" data-bs-auto-close="inside" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" fill="currentColor" class="bi bi-person-fill " viewBox="0 0 16 10" style="padding-top: 0%;">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>{{ request.user|upper}}
        </button>
        <ul class="dropdown-menu btn-sm text-center mr-2" aria-labelledby="dropdownMenuClickableOutside">
          <li><a class="dropdown-item text-light" href="{% url 'accountapp:logout' %}">Log Out</a></li>
        </ul>
      </div>
        {% else %}
        <a href="{% url 'accountapp:login' %}">
          <btn class="btn bg-secondary btn-sm pl-3 pr-3 text-decoration-none text-light">Log In</btn>
        </a>
        <a href="{% url 'accountapp:signup' %}">
          <btn class="btn bg-primary btn-sm pl-3 pr-3 text-decoration-none text-light">Sign Up</btn>
        </a>
      {% endif%}
      <a class="nav-link active text-dark" aria-current="page" href="admin/">Admin panel</a>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
