{% extends 'base.html' %} {% block title %} Home {% endblock %} 
{% block content %}

<a href="{% url 'myapp:add-company'  %}">
  <button class="btn btn-primary text-light btn-outline-info mb-3">
    Add Company
  </button>
</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Company</th>
      <th scope="col">Founder</th>
      <th scope="col">Head Quator</th>
      <th scope="col">Fund Raise</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  {% for item in company %}
  <tbody>
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>
        <a
          class="text-decoration-none"
          href="{% url 'myapp:employee' item.name %}"
        >
          {{item.name|upper}}
        </a>
      </td>
      <td>{{item.founder|upper}}</td>
      <td>{{item.headquator}}</td>
      <td>{{item.fund_raise|upper}}</td>
      <td>
        <a href="{% url 'myapp:update-company' item.name %}">
          <button style="border: none; background: none">
            <img src="https://img.icons8.com/ios/20/000000/pencil--v1.png" />
          </button>
        </a>
      </td>
      <td>
        <a href="{% url 'myapp:delete-company' item.name %}">
          <img
            src="https://img.icons8.com/material-outlined/20/000000/delete-sign.png"
          />
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
