{% extends 'base.html' %} 
{% block title %} Home {% endblock %} 
{% block content%}

<a href="{% url 'myapp:add-company'  %}">
  <button class="btn btn-primary text-light btn-outline-info mb-3">
    Add Company
  </button>
</a>
{% if company %} {% for item in company %}

<div class="card border border-2 border-info mb-4 container cards">
  <a class="text-decoration-none" href="{% url 'myapp:employee' item.name %}">
    <div class="card-block m-3">
      <h4 class="card-title text-info">
        <img
          src="https://img.icons8.com/fluent/48/000000/skyscrapers.png"
        />{{item.name}}
      </h4>
      <p class="card-text info">Founder: {{item.founder|upper}}</p>
      <p class="card-text info">Ref No.: {{item.id}}</p>
      <p class="card-text info">Headquator: {{item.headquator}}</p>
      <p class="card-text info">Fund Raise: {{item.fund_raise}}</p>
      <p class="card-text info">Status: {{item.working}}</p>
      <p class="card-text info">
        Total Employees: {{item.get_employee_count}}
      </p>
      <div class="text-end actions">
        <a
          class="card-link text-decoration-none"
          href="{% url 'myapp:update-company' item.name %}"
        >
          <button class="btn border btn-primary pt-1 pb-1">Edit</button>
        </a>
        <a
          class="card-link text-decoration-none"
          href="{% url 'myapp:delete-company' item.name %}"
        >
          <button class="btn btn-danger pt-1 pb-1">Remove</button>
        </a>
      </div>
     
    </div>
  </a>
</div>
{% endfor %} 
{% else %}
<h2 class="text-info text-center">No Companys Available</h2>
{% endif %} 
{% endblock %}
