{% extends 'base.html' %} 
{% block title %} {{request.path}} {% endblock %} 
{%block content %}
<div class="d-flex justify-content-center flex-direction-row">
  <div class="border border-info p-4">
    <h4 class="text-center text-info">Update Employee</h4>
    <form method="post">
      {% csrf_token %} 
      {{ form.as_p }}
      <div class="d-flex justify-content-end justify-content-between">
        <a class="text-decoration-none" href="{{ request.META.HTTP_REFERER }}">
          <button type="button" class="btn btn-danger">Close</button>
        </a>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
